[shared]
gatewaysvc = "localhost:29000"
datagateway = "http://localhost:29001/datagateway"

[grpc]
address = "0.0.0.0:29000"

# services to enable
[grpc.services.gateway]
authregistrysvc = "localhost:29000"
appregistrysvc = "localhost:29000"
storageregistrysvc = "localhost:29000"
preferencessvc = "localhost:29000"
userprovidersvc = "localhost:29000"
groupprovidersvc = "localhost:29000"
usershareprovidersvc = "localhost:29000"
publicshareprovidersvc = "localhost:29000"
ocmcoresvc = "localhost:29000"
ocmshareprovidersvc = "localhost:29000"
ocminvitemanagersvc = "localhost:29000"
ocmproviderauthorizersvc = "localhost:29000"
datagateway = "http://localhost:29001/data"
commit_share_to_storage_grant = true
commit_share_to_storage_ref = true

[grpc.services.appregistry]
driver = "static"

[grpc.services.appregistry.drivers.static]
mime_types = [
    {"mime_type" = "text/plain", "extension" = "txt", "name" = "Text file", "description" = "Text file", "allow_creation" = true},
    {"mime_type" = "text/markdown", "extension" = "md", "name" = "Markdown file", "description" = "Markdown file", "allow_creation" = true},
    {"mime_type" = "application/vnd.oasis.opendocument.text", "extension" = "odt", "name" = "OpenDocument", "description" = "OpenDocument text document", "default_app" = "Collabora", "allow_creation" = true},
    {"mime_type" = "application/vnd.oasis.opendocument.spreadsheet", "extension" = "ods", "name" = "OpenSpreadsheet", "description" = "OpenDocument spreadsheet document", "default_app" = "Collabora", "allow_creation" = true},
    {"mime_type" = "application/vnd.oasis.opendocument.presentation", "extension" = "odp", "name" = "OpenPresentation", "description" = "OpenDocument presentation document", "default_app" = "Collabora", "allow_creation" = true},
    {"mime_type" = "application/vnd.jupyter", "extension" = "ipynb", "name" = "Jupyter Notebook", "description" = "Jupyter Notebook"}
]

[grpc.services.appprovider]
driver = "wopi"
appregistrysvc = "localhost:29000"

[grpc.services.appprovider.drivers.wopi]
iop_secret = "shared-secret-with-wopiserver"
wopi_url = "http://0.0.0.0:8880/"
app_name = "Collabora"
app_url = "https://your-collabora-server.org:9980"

[grpc.services.storageregistry]
[grpc.services.storageregistry.drivers.static]
home_provider = "/home"
[grpc.services.storageregistry.drivers.static.rules]
"/home" = {"address" = "localhost:27000"}
"/reva" = {"address" = "localhost:28000"}
"123e4567-e89b-12d3-a456-426655440000" = {"address" = "localhost:28000"}

[grpc.services.authregistry]
[grpc.services.authregistry.drivers.static.rules]
basic = "localhost:29000"

[grpc.services.authprovider]
[grpc.services.authprovider.auth_managers.json]
users = "users-2.demo.json"

[grpc.services.userprovider.drivers.json]
users = "users-2.demo.json"

[grpc.services.usershareprovider]
[grpc.services.usershareprovider.drivers.json]
file = "/var/tmp/reva/shares-server-2.json"

[grpc.services.groupprovider]
[grpc.services.publicshareprovider]

[grpc.services.ocmcore]
[grpc.services.ocmcore.drivers.json]
file = "/var/tmp/reva/ocm-shares-server-2.json"

[grpc.services.ocmshareprovider]
[grpc.services.ocmshareprovider.drivers.json]
file = "/var/tmp/reva/ocm-shares-server-2.json"

[grpc.services.ocminvitemanager]
[grpc.services.ocminvitemanager.drivers.json]
file = "/var/tmp/reva/ocm-invites-server-2.json"

[grpc.services.ocmproviderauthorizer]
[grpc.services.ocmproviderauthorizer.drivers.json]
providers = "providers.demo.json"

[http]
address = "0.0.0.0:29001"

[http.services.appprovider]
[http.services.datagateway]
[http.services.prometheus]
[http.services.ocmd]
[http.services.ocmprovider]
provider = "Reva-Server-2"
endpoint = "http://localhost:29001"
enable_webapp = true
enable_datatx = true

[http.services.ocdav]
[http.services.ocsprovider]
[http.services.ocs]

[http.services.sciencemesh]
mesh_directory_url = 'https://sciencemesh.cesnet.cz/iop/meshdir'
provider_domain = 'your-domain.org'
ocm_mount_point = '/sciencemesh'

[http.middlewares.providerauthorizer.drivers.json]
providers = "providers.demo.json"
