[shared]
gatewaysvc = "localhost:19000"
datagateway = "http://localhost:19001/datagateway"

[grpc]
address = "0.0.0.0:19000"

# services to enable
[grpc.services.gateway]
authregistrysvc = "localhost:19000"
appregistrysvc = "localhost:19000"
storageregistrysvc = "localhost:19000"
preferencessvc = "localhost:19000"
userprovidersvc = "localhost:19000"
groupprovidersvc = "localhost:19000"
usershareprovidersvc = "localhost:19000"
publicshareprovidersvc = "localhost:19000"
ocmcoresvc = "localhost:19000"
ocmshareprovidersvc = "localhost:19000"
ocminvitemanagersvc = "localhost:19000"
ocmproviderauthorizersvc = "localhost:19000"
datagateway = "http://localhost:19001/data"
commit_share_to_storage_grant = true
commit_share_to_storage_ref = true

[grpc.services.appregistry]
driver = "static"

[grpc.services.appregistry.drivers.static]
mime_types = [
    {"mime_type" = "text/plain", "extension" = "txt", "name" = "Text file", "description" = "Text file", "allow_creation" = true},
    {"mime_type" = "text/markdown", "extension" = "md", "name" = "Markdown file", "description" = "Markdown file", "allow_creation" = true},
    {"mime_type" = "application/vnd.oasis.opendocument.text", "extension" = "odt", "name" = "OpenDocument", "description" = "OpenDocument text document", "default_app" = "Collabora", "allow_creation" = true},
    {"mime_type" = "application/vnd.oasis.opendocument.spreadsheet", "extension" = "ods", "name" = "OpenSpreadsheet", "description" = "OpenDocument spreadsheet document", "default_app" = "Collabora", "allow_creation" = true},
    {"mime_type" = "application/vnd.oasis.opendocument.presentation", "extension" = "odp", "name" = "OpenPresentation", "description" = "OpenDocument presentation document", "default_app" = "Collabora", "allow_creation" = true},
    {"mime_type" = "application/vnd.jupyter", "extension" = "ipynb", "name" = "Jupyter Notebook", "description" = "Jupyter Notebook"}
]

[grpc.services.storageregistry]
[grpc.services.storageregistry.drivers.static]
home_provider = "/home"
[grpc.services.storageregistry.drivers.static.rules]
"/home" = {"address" = "localhost:17000"}
"/reva" = {"address" = "localhost:18000"}
"123e4567-e89b-12d3-a456-426655440000" = {"address" = "localhost:18000"}

[grpc.services.authregistry]
[grpc.services.authregistry.drivers.static.rules]
basic = "localhost:19000"

[grpc.services.authprovider]
[grpc.services.authprovider.auth_managers.json]
users = "users-1.demo.json"

[grpc.services.userprovider.drivers.json]
users = "users-1.demo.json"

[grpc.services.usershareprovider]
[grpc.services.usershareprovider.drivers.json]
file = "/var/tmp/reva/shares-server-1.json"

[grpc.services.groupprovider]
[grpc.services.publicshareprovider]

[grpc.services.ocmcore]
[grpc.services.ocmcore.drivers.json]
file = "/var/tmp/reva/ocm-shares-server-1.json"

[grpc.services.ocmshareprovider]
[grpc.services.ocmshareprovider.drivers.json]
file = "/var/tmp/reva/ocm-shares-server-1.json"

[grpc.services.ocminvitemanager]
[grpc.services.ocminvitemanager.drivers.json]
file = "/var/tmp/reva/ocm-invites-server-1.json"

[grpc.services.ocmproviderauthorizer]
[grpc.services.ocmproviderauthorizer.drivers.json]
providers = "providers.demo.json"

[http]
address = "0.0.0.0:19001"

[http.services.datagateway]
[http.services.prometheus]
[http.services.ocmd]
[http.services.ocmprovider]
provider = "Reva-Server-1"
endpoint = "http://localhost:19001"
enable_webapp = true
enable_datatx = true

[http.services.ocdav]
[http.services.ocs]
[http.services.sciencemesh]
mesh_directory_url = 'https://sciencemesh.cesnet.cz/iop/meshdir'
provider_domain = 'your-domain.org'
ocm_mount_point = '/sciencemesh'

[http.middlewares.providerauthorizer.drivers.json]
providers = "providers.demo.json"
