# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Visual Studio Code
.vscode

# GoLand
.idea

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore builds
cmd/revad/revad
cmd/revad/revad.pid
cmd/reva/reva
tools/release/release

# Ignore pid files
*.pid


# For Mac OS
.DS_Store

# ignore build docs
docs/public/
docs/resources/
docs/node_modules/
docs/tech-doc-hugo
docs/themes/

dist/
bin/

# API acceptance tests
composer.lock
/vendor
vendor-bin/**/vendor
vendor-bin/**/composer.lock
tests/acceptance/output
tmp/

