[submodule "docs/themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy
[submodule "tests/ocis"]
	path = tests/ocis
	url = https://github.com/owncloud/ocis.git
[submodule "tests/testing"]
	path = tests/testing
	url = https://github.com/owncloud/testing.git
