*				@labkode @ishank011
internal/http/services/owncloud @cs3org/owncloud-team
pkg/auth/manager/owncloudsql	  @cs3org/owncloud-team
pkg/storage/fs/owncloudsql      @cs3org/owncloud-team
pkg/storage/fs/owncloud   	  @cs3org/owncloud-team
pkg/storage/fs/ocis             @cs3org/owncloud-team
pkg/storage/utils/decomposedfs  @cs3org/owncloud-team
pkg/user/manager/owncloudsql	  @cs3org/owncloud-team
pkg/app           		  @wkloucek @glpatcern @ishank011
