[build]
  publish = "docs/public"
  command = "git submodule update -f --init --recursive && cd docs/ && npm install postcss-cli && cd themes/docsy && npm run _mkdir:hugo-mod && cd ../../ && hugo --gc --minify || echo Ignoring failed Hugo build"
  ignore = "git diff --quiet HEAD^ HEAD docs/"

[build.environment]
  HUGO_VERSION = "0.124.1"
  HUGO_ENV = "production"
