[log]
mode = "console"

[shared]
gatewaysvc = "localhost:20000"
jwt_secret = "secret"


# GRPC SERVICES
[grpc]
address = "0.0.0.0:20000"


# GATEWAY
[grpc.services.gateway]
authregistrysvc = "localhost:20000"
preferencessvc = "localhost:20000"
userprovidersvc = "localhost:20000"
usershareprovidersvc = "localhost:20000"
publicshareprovidersvc = "localhost:20000"
datagateway = "http://localhost:20001/data"
transfer_expires = 6
commit_share_to_storage_grant = true
commit_share_to_storage_ref = true


# AUTH
[grpc.services.authregistry]
driver = "static"

[grpc.services.authregistry.drivers.static.rules]
basic = "reva-extra:21000"
bearer = "localhost:20000"

[grpc.services.authprovider]
auth_manager = "oidc"

[grpc.services.authprovider.auth_managers.oidc]
issuer = "http://idp:8080/realms/fakecern"
uid_claim = "cern_uid"
gid_claim = "cern_gid"
gatewaysvc = "localhost:20000"

[grpc.services.userprovider]
driver = "json"

[grpc.services.userprovider.drivers.json]
users = "/etc/revad/users.demo.json"


# STORAGE
[grpc.services.storageregistry]
driver = "static"

[grpc.services.storageregistry.drivers.static]
home_provider = "/"

[grpc.services.storageregistry.drivers.static.rules]
"/" = { "address" = "reva-extra:21000" }
"123e4567-e89b-12d3-a456-426655440000" = { "address" = "reva-extra:21000" }


# SHARES
[grpc.services.usershareprovider]
driver = "memory"

[grpc.services.publicshareprovider]
driver = "memory"


# PREFERENCES
[grpc.services.preferences]
driver = "sql"

[grpc.services.preferences.drivers.sql]
db_username = "root"
db_password = "admin"
db_host = "mysql"
db_port = 3306
db_name = "cernboxngcopy"


# HTTP SERVICES
[http]
address = "0.0.0.0:20001"

[http.services.dataprovider]
driver = "localhome"

[http.services.dataprovider.drivers.localhome]
user_layout = "{{.Username}}"

[http.middlewares.cors]

[http.middlewares.auth]
credential_chain = ["basic", "bearer"]
token_strategy = "bearer"


# OCS
[http.services.ocs]
prefix = "ocs"
share_prefix = "/"
home_namespace = "/"
additional_info_attribute = "{{.Username}} ({{.Mail}})"
cache_warmup_driver = "first-request"
resource_info_cache_ttl = 60
resource_info_cache_type = "memory"

[http.services.ocs.config]
version = "1.8"
website = "reva"
host = "http://localhost"
contact = "nope@example.com"
ssl = "false"

[http.services.ocs.capabilities.capabilities.core]
poll_interval = 60
webdav_root = "remote.php/webdav"
status = { installed = true, maintenance = false, nwwsaDbUpgrade = false, version = "10.0.11.5", versionstring = "10.0.11", edition = "community", productname = "reva", hostname = "" }
support_url_signing = false

[http.services.ocs.capabilities.capabilities.checksums]
supported_types = ["sha1", "md5", "adler32"]

[http.services.ocs.capabilities.capabilities.files]
private_links = false
bigfilechunking = false
blacklisted_files = []
undelete = true
versioning = true
archivers = [
  { enabled = true, version = "2.0.0", formats = [
    "tar",
    "zip",
  ], archiver_url = "/archiver", max_num_files = "10000", max_size = "1073741824" },
]
favorites = true

[http.services.ocs.capabilities.capabilities.dav]

[http.services.ocs.capabilities.capabilities.files_sharing]
api_enabled = true
resharing = true
deny_access = true
resharing_default = false
group_sharing = true
auto_accept_share = true
share_with_group_members_only = true
share_with_membership_groups_only = true
default_permissions = 22
search_min_length = 3

[http.services.ocs.capabilities.capabilities.files_sharing.public]
enabled = true
send_mail = true
social_share = true
upload = true
multiple = true
supports_upload_only = true
password = { enforced = false, enforced_for = { read_only = false, read_write = false, upload_only = false } }
expire_date = { enabled = true }
can_edit = true
can_contribute = false

[http.services.ocs.capabilities.capabilities.files_sharing.user]
send_mail = true
profile_picture = false
settings = [{ enabled = true, version = "1.0.0" }]

[http.services.ocs.capabilities.capabilities.files_sharing.user_enumeration]
enabled = true
group_members_only = true

[http.services.ocs.capabilities.capabilities.files_sharing.federation]
outgoing = true
incoming = true

[http.services.ocs.capabilities.capabilities.spaces]
enabled = false
projects = true

[http.services.ocs.capabilities.version]
edition = "reva"
major = 10
minor = 0
micro = 11
string = "10.0.11"

[http.services.ocs.notifications]
nats_address = "nats:4222"


# DAV
[http.services.ocdav]
timeout = 86400
insecure = true
favorite_storage_driver = "sql"
enable_http_tpc = false
desktop_client_namespace = "/cernbox/desktop"

[http.services.ocdav.publiclink_download]
max_num_files = 10000
max_size = 10737418240
public_folder = "/public"

[http.services.ocdav.favorite_storage_drivers.sql]
db_username = "root"
db_password = "admin"
db_host = "mysql"
db_port = 3306
db_name = "cernboxngcopy"

[http.services.ocdav.notifications]
nats_address = "nats:4222"


# SERVERLESS SERVICES

# NOTIFICATIONS
[serverless.services.notifications]
nats_address = "nats:4222"
nats_template_subject = "reva-notifications-template"
nats_notification_subject = "reva-notifications-notification"
nats_trigger_subject = "reva-notifications-trigger"
storage_driver = "sql"
grouping_interval = 5
grouping_max_size = 10

[serverless.services.notifications.storage_drivers.sql]
db_username = "root"
db_password = "admin"
db_host = "mysql"
db_port = 3306
db_name = "cernboxngcopy"

[serverless.services.notifications.handlers.email]
smtp_server = "localhost:1025"
disable_auth = true
default_sender = "noreply@localdomain"
