[core]
log_file = "stderr"
log_mode = "dev"
max_cpus = "100%"
disable_grpc = true

[log]
level = "debug"
mode = "console"

[http]
enabled_services = ["ocdavsvc"]
enabled_middlewares = ["cors", "auth"]
network = "tcp"
address = "0.0.0.0:20000"

[http.middlewares.auth]
gatewaysvc = "0.0.0.0:10000"
credential_strategy = "basic"
token_strategy = "header"
token_writer = "header"
token_manager = "jwt"
skip_methods = ["/owncloud/status.php", "/metrics"]

[http.middlewares.auth.token_managers.jwt]
secret = "Pive-Fumkiu4"

[http.services.ocdavsvc]
prefix = "owncloud"
chunk_folder = "/var/tmp/revad/chunks"
gatewaysvc = "localhost:10000"
