name: Lint
on:
  pull_request:
    paths-ignore:
      - "go.mod"
      - "go.sum"
  push:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go environment
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache: false
      - name: Run linters
        run: make lint
