name: Test
on:
  pull_request:
  push:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  integration-test:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go environment
        uses: actions/setup-go@v3.3.0
        with:
          go-version-file: go.mod
      - name: Test integration
        run: make test-integration
        env:
          REDIS_ADDRESS: redis:6379
          SQL_USERNAME: root
          SQL_PASSWORD: my-secret-pw
          SQL_ADDRESS: mysql:3306
          SQL_DBNAME: reva
    services:
      redis:
        image: registry.cern.ch/docker.io/webhippie/redis
      mysql:
        image: mysql
        env:
          MYSQL_ROOT_PASSWORD: my-secret-pw
          MYSQL_DATABASE: reva
  go-test:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go environment
        uses: actions/setup-go@v3.3.0
        with:
          go-version-file: go.mod
      - name: Test
        run: make test
        env:
          COVER_PROFILE: ${{ github.event_name == 'push' && 'coverage.out' || '' }}
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1
        if: github.event_name == 'push'
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.out
          force-coverage-parser: go
  docker:
    strategy:
      fail-fast: false
      matrix:
        file: [docker/Dockerfile.reva, docker/Dockerfile.revad-eos, docker/Dockerfile.revad-ceph]
    uses: ./.github/workflows/docker.yml
    with:
      file: ${{ matrix.file }}
  docker-revad:
    name: docker (docker/Dockerfile.revad)
    uses: ./.github/workflows/docker.yml
    with:
      file: docker/Dockerfile.revad
      tags: revad:test
      load: true
  litmus:
    needs: docker-revad
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        profile: [1, 2, 3]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download image
        uses: ishworkh/docker-image-artifact-download@v1
        with:
          image: revad:test
      - name: Test
        run: make litmus-only
        env:
          PROFILE: ${{ matrix.profile }}
          IMAGE: revad:test
