name: Test
on:
  pull_request:
  push:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  integration:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go environment
        uses: actions/setup-go@v3.3.0
        with:
          go-version-file: go.mod
      - name: Test integration
        run: make test-integration
        env:
          REDIS_ADDRESS: redis:6379
    services:
      redis:
        image: registry.cern.ch/docker.io/webhippie/redis
  go:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go environment
        uses: actions/setup-go@v3.3.0
        with:
          go-version-file: go.mod
      - name: Test
        run: make test-go
        env:
          COVER_PROFILE: ${{ github.event_name == 'push' && 'coverage.out' || '' }}
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1
        if: github.event_name == 'push'
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.out
          force-coverage-parser: go
  docker:
    strategy:
      fail-fast: false
      matrix:
        file: [docker/Dockerfile.reva, docker/Dockerfile.revad-eos, docker/Dockerfile.revad-ceph]
    uses: ./.github/workflows/docker.yml
    with:
      file: ${{ matrix.file }}
  docker-revad:
    name: docker (docker/Dockerfile.revad)
    uses: ./.github/workflows/docker.yml
    with:
      file: docker/Dockerfile.revad
      tags: revad:test
      load: true
  litmus:
    needs: docker-revad
    strategy:
      fail-fast: false
      matrix:
        test: [litmus-1, litmus-2, litmus-3]
    uses: ./.github/workflows/compose.yml
    with:
      test: ${{ matrix.test }}
  acceptance-1:
    uses: ./.github/workflows/compose.yml
    with:
      test: acceptance-1
      submodules: true
    needs: docker-revad
  acceptance-2:
    needs: docker-revad
    strategy:
      fail-fast: false
      matrix:
        part: [1, 2, 3, 4, 5, 6]
    uses: ./.github/workflows/compose.yml
    with:
      test: acceptance-2
      submodules: true
      parts: 6
      part: ${{ matrix.part }}
  acceptance-3:
    needs: docker-revad
    strategy:
      fail-fast: false
      matrix:
        part: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    uses: ./.github/workflows/compose.yml
    with:
      test: acceptance-3
      submodules: true
      parts: 12
      part: ${{ matrix.part }}
