name: Test
on:
  pull_request:
  push:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  integration:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go environment
        uses: actions/setup-go@v3.3.0
        with:
          go-version-file: go.mod
      - name: Test integration
        run: make test-integration
        env:
          REDIS_ADDRESS: redis:6379
          SQL_USERNAME: root
          SQL_PASSWORD: my-secret-pw
          SQL_ADDRESS: localhost:3306
          SQL_DBNAME: reva
    services:
      redis:
        image: registry.cern.ch/docker.io/webhippie/redis
      mysql:
        image: mysql
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: my-secret-pw
          MYSQL_DATABASE: reva
  go:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go environment
        uses: actions/setup-go@v3.3.0
        with:
          go-version-file: go.mod
      - name: Test
        run: make test-go
        env:
          COVER_PROFILE: ${{ github.event_name == 'push' && 'coverage.out' || '' }}
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1
        if: github.event_name == 'push'
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.out
          force-coverage-parser: go
  docker:
    strategy:
      fail-fast: false
      matrix:
        file: [docker/Dockerfile.reva, docker/Dockerfile.revad-eos, docker/Dockerfile.revad-ceph]
    uses: ./.github/workflows/docker.yml
    with:
      file: ${{ matrix.file }}
  docker-revad:
    name: docker (docker/Dockerfile.revad)
    uses: ./.github/workflows/docker.yml
    with:
      file: docker/Dockerfile.revad
      load: true
  litmus:
    needs:
      - docker-revad
    strategy:
      fail-fast: false
      matrix:
        test: [litmus-1, litmus-2]
    uses: ./.github/workflows/compose.yml
    with:
      test: ${{ matrix.test }}
      image: ${{ needs.docker-revad.outputs.image }}
  acceptance-1:
    needs:
      - docker-revad
    uses: ./.github/workflows/compose.yml
    with:
      test: acceptance-1
      image: ${{ needs.docker-revad.outputs.image }}
      submodules: true
  acceptance-2:
    needs:
      - docker-revad
    strategy:
      fail-fast: false
      matrix:
        part: [1, 2, 3, 4, 5, 6]
    uses: ./.github/workflows/compose.yml
    with:
      test: acceptance-2
      image: ${{ needs.docker-revad.outputs.image }}
      submodules: true
      parts: 6
      part: ${{ matrix.part }}
